# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [75]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
#from api_keys import g_key
g_key = "AIzaSyBezM4MXF3KyBsylPLnfuSfRI53THrqjRM"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [17]:
# File to Load weather data
wdata = "weather_data.csv"

weather_df = pd.read_csv(wdata)
weather_df

,Longitude,Latitude,City,Country,Temperature,Humidity,Cloud,Wind Speed,Date
0,-143.055649,-85.251585,mataura,pf,47.62,70.0,42.0,7.56,1.601656e+09
1,120.751855,-21.630768,port hedland,au,77.00,69.0,53.0,14.99,1.601656e+09
2,-128.853680,56.993924,terrace,ca,57.20,93.0,75.0,2.24,1.601656e+09
3,-72.059712,43.527686,new london,us,60.06,59.0,90.0,9.17,1.601656e+09
4,64.597603,12.265358,kavaratti,in,81.32,79.0,69.0,12.62,1.601656e+09
...,...,...,...,...,...,...,...,...,...
492,-144.681435,38.083847,fortuna,us,53.60,100.0,1.0,1.70,1.601656e+09
493,92.443675,64.338618,teya,ru,33.87,91.0,94.0,6.89,1.601656e+09
494,-161.648569,-34.759470,avarua,ck,73.40,88.0,85.0,5.82,1.601656e+09
495,-148.804494,51.957924,kodiak,us,51.80,87.0,90.0,26.40,1.601656e+09
496,-106.527589,84.149564,yellowknife,ca,39.07,86.0,75.0,8.05,1.601656e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [22]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)
# Store 'Lat' and 'Lng' into  locations 
locations = weather_df[["Latitude", "Longitude"]]
humid = weather_df["Humidity"]

In [23]:
# Create a poverty Heatmap layer
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [31]:
#set df to get temperature < 80 but > 70
temp_weather_df = weather_df.loc[weather_df["Temperature"]<80]
temp_weather_df = temp_weather_df.loc[temp_weather_df["Temperature"]>70]
#set df to get wind speed < 10 and cloud = 0
temp_weather_df = temp_weather_df.loc[(temp_weather_df["Wind Speed"]<10) & (temp_weather_df["Cloud"]==0)]
# XD Only 1 is good for Vacation apparently
temp_weather_df

,Longitude,Latitude,City,Country,Temperature,Humidity,Cloud,Wind Speed,Date
461,66.703122,27.299931,khuzdar,pk,75.52,19.0,0.0,7.7,1.601656e+09

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [35]:
hotel_df = temp_weather_df[["Longitude","Latitude","City","Country"]]
#hotel_df["Hotel Name"]
hotel_df

     Longitude   Latitude     City Country
461  66.703122  27.299931  khuzdar      pk

In [113]:
alter_hotel = weather_df.loc[weather_df["City"] == "capoterra"]
alter_hotel_city = alter_hotel["City"]
alter_hotel_country = alter_hotel["Country"]
alter_hotel

,Longitude,Latitude,City,Country,Temperature,Humidity,Cloud,Wind Speed,Date
46,9.033992,38.929488,capoterra,it,74.19,83.0,100.0,10.29,1.601656e+09

In [115]:
#Unfortunately the result I got after filtering the weather data frame only returned 1 valid and this valid result also happened 
#to be either NOT have any hotels within the 5000 radius from its coordinates or not in gmaps data so I decided to use
#a defined location instead in my data frame which is 
# Capoterra, Italy
location = "38.92948805 , 9.033991525"
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "location":location,
    "type" : "hotel",
    "keyword" : "hotel",
    "radius" : 5000,
    "key" : g_key}
hotels = requests.get(base_url, params=params).json()

hotel_df = pd.DataFrame({
    "Hotel Name":[hotels["results"][0]["name"]],
    "City":alter_hotel_city,
    "Country":alter_hotel_country,
    "Lat":[hotels["results"][0]["geometry"]["location"]["lat"]],
    "Lng":[hotels["results"][0]["geometry"]["location"]["lng"]]
})
hotel_df

               Hotel Name       City Country        Lat       Lng
46  Hotel Flamingo Resort  capoterra      it  38.967367  8.979544

In [107]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [90]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))